[submodule "ia-uncuyo-2021"]
	path = ia-uncuyo-2021
	url = https://github.com/Nano-Nathan/ia-uncuyo-2021.git
[submodule "arquitecturas-distribuidas"]
	path = arquitecturas-distribuidas
	url = https://github.com/Nano-Nathan/arquitecturas-distribuidas.git
[submodule "CEI_UNC_Backend"]
	path = CEI_UNC_Backend
	url = https://github.com/Hash-UNC/CEI_UNC_Backend.git
[submodule "CEI_UNC_Frontend"]
	path = CEI_UNC_Frontend
	url = https://github.com/Hash-UNC/CEI_UNC_Frontend.git
[submodule "ubae"]
	path = ubae
	url = https://github.com/Nano-Nathan/ubae.git
[submodule "data-base"]
	path = data-base
	url = https://github.com/Nano-Nathan/data-base.git
[submodule "programacion-paralela-distribuida"]
	path = programacion-paralela-distribuida
	url = https://github.com/Nano-Nathan/programacion-paralela-distribuida.git
[submodule "sistemas-distribuidos"]
	path = sistemas-distribuidos
	url = git@github.com:Nano-Nathan/sistemas-distribuidos.git
[submodule "ia2"]
	path = ia2
	url = git@github.com:Nano-Nathan/ia2.git
