[submodule "ia-uncuyo-2021"]
	path = ia-uncuyo-2021
	url = https://github.com/Nano-Nathan/ia-uncuyo-2021.git
[submodule "arquitecturas-distribuidas"]
	path = arquitecturas-distribuidas
	url = https://github.com/Nano-Nathan/arquitecturas-distribuidas.git
[submodule "proyecto/CEI/CEI_UNC_Backend"]
	path = proyecto/CEI/CEI_UNC_Backend
	url = https://github.com/Hash-UNC/CEI_UNC_Backend.git
[submodule "proyecto/CEI/CEI_UNC_Frontend"]
	path = proyecto/CEI/CEI_UNC_Frontend
	url = https://github.com/Hash-UNC/CEI_UNC_Frontend.git
